<footer class="text-center text-white" style="background-color: #A14C4C; opacity: 0.8; ">


    <section class="mb-5">
        <div class="row d-flex justify-content-center">
                <p>
                    “Life's too short for boring food.”
                </p>
        </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright -
        <a class="text-white" href="https://linktr.ee/AadamRazak" target="_blank">Aadam Razak</a>
    </div>
 
</footer>
